<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .card {
    margin-top: 10em;
    border: solid 1px;
    width: fit-content;
    padding: 1em 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .inpt {
    width: 16em;
    padding: 1em;
  }

  .btn {
    margin: 1em;
    padding: 1em;
    border-radius: 10%;
    border: solid 1px;
  }

  .response{
    color: blue;
    font-size: large;
  }

  .error{
    color: red;
  }
</style>

<div class="content" role="main">
  <div class="card">
    <h2>type alticci sequence value...</h2>
    <input class="inpt" type="number" id="value" name="value" #value /> 
    <button class="btn" type="button" (click)="callws(value.value)">Calculate</button>
    <span class="response">{{ response }}</span>
    <span class="error">{{ errorMsg }}</span>
  </div>
</div>